<h1>Signup!</h1>
<div class="form-group">
  <%= form_for :user, url: '/users' do |f| %>
    Name: <%= f.text_field :name, class: "form-control" %>
    Email: <%= f.text_field :email, class: "form-control" %>
    Password: <%= f.password_field :password, class: "form-control"  %>
    Password Confirmation: <%= f.password_field :password_confirmation, class: "form-control"  %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>